PORT=
NODE_ENV=
DB_URL=
JWT_USER_ACCESS_TOKEN_EXPIRY=
JWT_USER_ACCESS_TOKEN_SECRET=
JWT_ADMIN_ACCESS_TOKEN_EXPIRY=
JWT_ADMIN_ACCESS_TOKEN_SECRET=


SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
HOST=
PROTOCOL=
SMTP_EMAIL_USERNAME=
SMTP_EMAIL_PASSWORD=
FE_BASE_URL =
SENDGRID_API_KEY=
 